/* Google Fonts to use:
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; 
*/

@font-face {
	font-family: 'Bringin';
	src: url('../fonts/Bringin/Bringin.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/Bringin/Bringin.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/Bringin/Bringin.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/Bringin/Bringin.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/Bringin/Bringin.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Bringin/Bringin.eot.svg#Bringin') format('svg'), /* Chrome < 4, Legacy iOS */
        url('../fonts/Bringin/Bringin.otf') format('otf');
}

header {
    background: url('/img/bg/header-bg.png') no-repeat;
    background-position: center top; 
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}


